
a{
	color: #3398FF;
		
}
a:hover {
  background-color: #08182A;
}

h1 {
    text-align: center;
    font-size: 45px;
	background-color: #3398FF;
	font-family: georgia, "times new roman", serif;
	font-style: italic;
}
.chng{
	text-align: center;
	color: #3398FF;
	font-family: georgia, "times new roman", serif;
	font-style: italic;



}

.colleft{
	width: 25%;
	height: auto;
    float: left;
    text-align: center;
	border: 2px;
	align-items:stretch;
	
}

.colcenter{
	width: 45%;
    float: left;
    text-align: left;
	border: 2px;
	display: flex;
	align-items:stretch;
	border-style: solid;
	border-color: #3398FF;
	padding: 25px;
	font-family: georgia, "times new roman", serif;
}

ul {
  list-style-type: square;
  color: blue;
}
ol {
  
  color: blue;
}
.colright{
	width: 22%;
    float: right;
    text-align: center;
	border: 2px;
	border-style: solid;
	border-color: #3398FF;
	padding: 15px;
	font-family: georgia, "times new roman", serif;
	font-style: italic;
	
}

table, th, td {
  border: 1px solid #3398FF;
  border-collapse: collapse;
  text-align: center;
  
}

table {
  width: 85%;
  margin-left: 25px; 
align-items: center;
}
.expanded:hover {
    height: 400px;
    transition: .5s;
	
}

.items{
	width: 30%;
    float: left;
    text-align: center;
	border: 2px;
	border-style: solid;
	border-color: #3398FF;
	padding: 15px;
	font-family: georgia, "times new roman", serif;
	font-style: italic;
}

.cart{
	width: 40%;
    float: right;
    text-align: center;
	border: 2px;
	border-style: solid;
	border-color: #3398FF;
	padding: 15px;
	font-family: georgia, "times new roman", serif;
	font-style: italic;
}

.item-text{
	   color: blue;
       font-weight: bold;
       width: 250px;
       float: left;
	   text-align: right;
}


